---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Cassi <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a design-forward Frontend Developer specializing in building web, marketing, and UX experiences. 
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            About
          </h5>
          <article class="space-y-4">
          <p class="animate">
           I've worn many hats in my career. From design work, to customer service, to marketing teams - I'm a frontend developer that understands the needs to a variety of team members. 
          </p>
          <p class="animate">
          Need great UX and UI experiences? I bring a strong design sensibility to Frontend development, which means seamless collaboration with designers and faithful translation of wireframes into polished, production-ready interfaces. I enjoy working within and building design systems that keep code scalable, consistent, and easy to reuse.
          </p>
          <p class="animate">
            Working on a marketing team? I’ve spent 5+ years on the technical side of marketing, so I understand the importance of performance, SEO, information architecture, and effective landing page layouts. I’m comfortable collaborating cross-functionally and bridging the gap between technical and non-technical teammates.
          </p>
          <p class="animate">I’m also editor-friendly. With a strong background in CMS platforms, I design with the end user in mind—whether that’s a content marketer publishing a blog post or a demand gen specialist building a landing page. I create flexible, intuitive editor experiences that help teams move quickly and confidently.
</p>
        </article>
      </section>
      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Relevant Experience
          </h5>
          <Link external href="https://www.linkedin.com/in/cassigs/">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Tech Stack
          </h5>
          <article>
          <p>
            This is a small sample of the technologies I'm already comfortable working with. Like every good developer though, I'm learning new stacks every day. Don't see your stack on here? Let's chat - I can work quickly to get up to speed on whatever stack your team is using. 
          </p>
        </article>
        </div>
        <h6 class="font-semibold text-black dark:text-white">
            Code
        </h6>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
        <h6 class="font-semibold text-black dark:text-white">
            CMS Systems
        </h6>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>

        <h6 class="font-semibold text-black dark:text-white">
            Design
        </h6>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p class="animate">
            If you want to get in touch with me about something or just to say hi,
            reach out on LinkedIn or send me an email.
          </p>
        </article>
  
      </section>
    </div>
  </Container>
</PageLayout>
